<section>
    <h1>About Dr Chartegee</h1>
    <div id = "banner">
        <div class = "cover-photo">
            <img src="{{settings.about_img | img_url: ''}}">
        </div>
    </div>
    <div class = "content"><p>{{page.content}}</p> </div>
        <div class = "col1">

            {% if setings.highlight != 'blank' %}
                <h2>{{settings.highlight}} </h2>
            {% endif %}
            <img src="{{ 'BBC_News.svg' | asset_url }}">
            <img src="{{ 'BBC.svg' | asset_url }}">
            <img src="{{ 'Daily_Telegraph.svg' | asset_url }}">
            <img src="{{ 'logo-mbg-lg.svg' | asset_url }}">
        </div>
        <div class="col2">
            <div class= "row2">
            
                {% if settings.article1_title != 'blank' %}
                    <h3>{{settings.article1_title}} </h3>
                    <p>{{settings.article1_text}} </p>
                {% endif %}

                {% if settings.article2_title != 'blank' %}
                    <h3>{{settings.article2_title}} </h3>
                    <p>{{settings.article2_text}} </p>
                {% endif %}
            </div>
            <div class="row1">
                <img src="{{ 'Play-button.png' | asset_url }}">
            </div>
        </div>
        <div class="col2-2">
        <div class="row1-2">
            <img src="{{settings.article_img | img_url: ''}}">
        </div>
        <div class= "row2">
        
            {% if settings.article1_title != 'blank' %}
                <h3>{{settings.article1_title}} </h3>
                <p>{{settings.article1_text}} </p>
            {% endif %}
       
            {% if settings.article2_title != 'blank' %}
                <h3>{{settings.article2_title}} </h3>
                <p>{{settings.article2_text}} </p>
            {% endif %}
        </div> 
    </div>
    <div>
        
        {% section 'list' %}
    
    </div>
    <div class="col2-4">
    
        {% section 'testimonials' %}
  
    </div>
</section>